html {
  height: 100%;
}

body {
  min-height: 90%;
}

.code_listing_line {
    font-family: courier new;
    font-size: 10px;
    padding: 2px;
}

.line-number {
  font-weight: bold;
  width: 34px;
}

.panel-body.code-listing {
  max-height: 90vh;
  overflow-y: scroll;
}

.btn.btn-default.parameter {
  font-size: 10px;
  font-family: arial;
  margin-right: 10px;
}

.btn.btn-default.parameter.active {
  box-shadow: 0 0 2px 2px orange;
}

svg.hidden {
  display: none;
}

.plot #plot-controls {
  display: block;
}

.plot a.filter {
  opacity: 0.7;
  color: white!important;
  padding: 5px;
  margin: 2px;
}

.plot a.filter.active {
  opacity: 1.0;
}

.plot a.filter#violations {
  background: red;
}

.plot a.filter#successes {
  background: green;
}

#image-plot {
  margin-top: 1000px;
}
