/* Stylesheet for the VyPR visualisation tool */

body {
	font-family: arial;
}

div.alert {
  margin: 10px;
}

.panel-heading {
  border: none!important;
  border-radius: 0 0 0 0!important;
}

@keyframes spinner-border {
  to { transform: rotate(360deg); }
}

.loading-spinner {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 8px;
    z-index: 2000;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid black;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.navbar-header {
	height: 70px;
}

.navbar-header.vypr-logo img {
	margin-top: -10px;
	width: 80px;
}

.nav.navbar-nav a {
	height: 50px;
	line-height: 40px;
}

.logo-wrapper {
	background: white;
	height: 50px;
	float: right;
	padding: 15px;
}

.tagline {
    color: black;
    margin-left: 95px;
    font-size: 14px;
    height: 70px;
    line-height: 70px;
}

.selection {
	padding-left: 0px!important;
	padding-right: 0px!important;
	height: 100vh!important;
}

.selection-phases {
    height: 100vh;
}

.selection .panel {
	border-radius: 0px!important;
	margin-bottom: 0px!important;
}

.panel.panel-success.machine-function-property, .panel.panel-success.function-calls, .panel.panel-success.code-view {
    min-height: 100vh;
}

.col-md-4.selection .panel-body .panel-title {
    font-family: arial;
    font-style: normal;
}

/*.col-md-4.selection .panel-title:hover {
	text-decoration: underline;
}*/

.selection .panel-body {
	padding: 0px!important;
}

.selection .list-group-item {
	border: none!important;
}

.list-group-item span.badge.Success {
    background: green;
}

.list-group-item span.badge.Violation, .list-group-item span.badge.Error {
    background: red;
}

div.please-select {
	padding: 10px;
}

#verdict-list span.badge {
	margin-left: 10px!important;
}

#verdict-list span.badge.No.Violation {
	background: green!important;
}

#verdict-list span.badge.Violation {
	background: red!important;
}

#verdict-list #specification_listing {
    padding: 10px;
    border-bottom: 1px solid grey;
}

#verdict-list .code_listing_line {
    font-family: courier new;
    padding: 2px;
}

#function-call-list {
    overflow: hidden scroll;
    max-height: 95vh;
}

#function-call-list input[type=checkbox] {
    margin-right: 20px;
}

#function-list-data {
	visibility: hidden;
	display: none;
}

#function-list {
	margin-bottom: 0px!important;
}

#function-list .list-group {
	margin-bottom: 0px!important;
}

#function-list .panel-default {
	border: none;
	border-radius: none;
}

#function-list .panel-heading {
	background: #d6e9c6;
	color: black;
	font-style: italic;
	border-radius: none;
}

#function-list .panel-heading .panel-title {
	font-size: 12px!important;
}

#link-wrapper .panel:hover {
	border: 1px solid grey;
}

label#violating {
	color: red;
	padding: 10px;
	border-radius: 20px 20px 20px 20px;
}

label#not-violating {
	color: green;
	padding: 10px;
	border-radius: 20px 20px 20px 20px;
}

#function-list input[type=radio] {
	margin-right: 10px;
}

.function-list-wrapper {
	padding: 10px;
}

.function-list-wrapper pre {
	margin: 10px;
}

table.function-list-table td {
	padding: 10px;
}

.list-group-item-text.code {
	font-family: courier new;
	padding: 4px;
	font-family: 12px;
	margin: 4px;
	border-radius: 5px 5px 5px 5px;
}

.list-group-item .list-group-item-text.code {
    font-size: 10px!important;
}
