{% extends "base.html" %}

{% block js_import %}
<script type="text/javascript" src="{{ url_for('static', filename='js/by_specification.js') }}"></script>
{% endblock %}

{% block css_import %}
<link href="{{ url_for('static', filename='css/specification.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

<div class="container-fluid">

	<div class="row">

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Criteria</h3>
	  </div>
	  <div class="panel-body">
	    <p>Start by selecting a function and property.  This will show you a list of calls of the function,
		and its source code on the right of your screen.  Select one or more calls to see information collected
		during them displayed with the source code.</p>
	  </div>
	</div>

	  <div class="col-md-4 selection">

	  	<div class="fluid-container">

	  	<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title" id="function-title">Machine / Function / Property</h3>
		  </div>
		  <div class="panel-body">
		    <div class="list-group" id="function-list">
		      <div id="function-list-data">{{ functions }}</div>
				</div>
		  </div>
		</div>

	  	<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title" id="function-call-title">Function Call</h3>
		  </div>
		  <div class="panel-body">
		    <div class="list-group" id="function-call-list">
		    	<div class="please-select">Select an http request first.</div>
			</div>
		  </div>
		</div>

	</div>

	</div>

	<div class="col-md-8 selection">

		<div class="fluid-container">

	  	<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title">Code View</h3>
		  </div>
		  <div class="panel-body" id="verdict-list">
		  	<div class="please-select">Select a function and then one or more calls, first.</div>
		  </div>
		</div>

	</div>

	</div>

</div>
</div>

{% endblock %}
