{% extends "base.html" %}

{% block body %}

<div id="app">

    <loading-spinner></loading-spinner>

    <div class="container-fluid">

        <div class="row align-items-center">

            <div class="col-md-4 selection">

                <div class="fluid-container">

                    <selection-tabs v-bind:tree="{{functions}}"></selection-tabs>

                </div>

            </div>

            <div class="col-md-8 selection">

                <div class="fluid-container">
                    <code-view></code-view>
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock %}
