{% extends "base.html" %}

{% block js_import %}
<script type="text/javascript" src="{{ url_for('static', filename='js/by_verdict.js') }}"></script>
{% endblock %}

{% block body %}

<div class="container-fluid">

	<div class="row">

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Criteria</h3>
	  </div>
	  <div class="panel-body">
	    <p>By giving a verdict, and optionally all, or part, of a path through the code in the service being monitored,
	    you can see function calls based on that path that generated the verdict given.</p>
	  </div>
	</div>

	<div class="col-md-4 selection">

	  	<div class="fluid-container">

	  	<div class="panel panel-success">
		  <div class="panel-body">
		    <p><button class="btn btn-default" id="trigger-search">Search</button></p>
		  </div>
		</div>

	  	<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title" id="verdict-title">Verdict</h3>
		  </div>
		  <div class="panel-body">
		    <div class="list-group" id="verdict-list">
    			<p>
	    			<label id="violating"><input type="radio" name="verdict" value="violating"> Violating</label>
	    			<label id="not-violating"><input type="radio" name="verdict" value="not-violating"> Not Violating</label>
    			</p>
			</div>
		  </div>
		</div>

	  	<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title" id="code-structure-title">Code Structure</h3>
		  </div>
		  <div class="panel-body">
		    <div class="list-group" id="function-list">
		    	<div id="function-list-data">{{ functions }}</div>
			</div>
		  </div>
		</div>

	</div>

	</div>

	<div class="col-md-8 selection">

		<div class="fluid-container">

	  	<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title">Functions</h3>
		  </div>
		  <div class="panel-body" id="results-list">
		  	<div class="please-select">Select a verdict and a path, first.</div>
		  </div>
		</div>

	</div>

	</div>

</div>

{% endblock %}