<!-- template for displaying function data based on a verdict and a path. -->

<div class="function-list-wrapper">
	{% for function_id in data["functions"] %}
<table class="function-list-table">
<tr>
	<td><h3>{{ data["functions"][function_id]["fully_qualified_name"] }}</h3></td>
	<td>
	<pre>
{{ data["functions"][function_id]["property"]["bind_variables"] }}
Check(
  lambda {{ data["functions"][function_id]["property"]["bind_variable_names"] }} : (
    {{ data["functions"][function_id]["property"]["property"] }}
  )
)
	</pre>
	</td>
</tr>
</table>
	<ul>
		{% for call in data["functions"][function_id]["calls"] %}
			{% if data["functions"][function_id]["calls"][call]|length > 0 %}
			<li><h4>Call at {{ data["functions"][function_id]["calls"][call]["time"] }}</h4>
				<ul>
					{% for binding in data["functions"][function_id]["calls"][call]["bindings"] %}
						{% if data["functions"][function_id]["calls"][call]["bindings"][binding]["verdicts"]|length > 0 %}
						<li>Lines {{ data["functions"][function_id]["calls"][call]["bindings"][binding]["lines"] }} with relevant verdicts
							<ul>
								{% for verdict in data["functions"][function_id]["calls"][call]["bindings"][binding]["verdicts"] %}
									<li>{{ truth_map[verdict[0]] }} at time {{ verdict[1] }}</li>
								{% endfor %}
							</ul>
						</li>
						{% else %}
						<li>Lines {{ data["functions"][function_id]["calls"][call]["bindings"][binding]["lines"] }} generated no relevant verdicts.</li>
						{% endif %}
					{% endfor %}
				</ul>
			</li>
			{% else %}
			<p>No calls found that generated this verdict.</p>
			{% endif %}
		{% endfor %}
	</ul>
	{% endfor %}
</div>