{% extends "base.html" %}

{% block js_import %}

{% endblock %}

{% block body %}


<div class="container-fluid">

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">VyPRServer</h3>
	  </div>
	  <div class="panel-body">
	    <p><b>VyPR</b> is a framework for automated performance analysis of Python web services.</p>
	    <p><b>VyPRServer</b> is a central server used to collect the data obtained at runtime by monitoring.</p>
	    <p>The data held by <b>VyPRServer</b> can be analysed using <b>VyPRAnalysis</b>.</p>
	  </div>
	</div>
	
</div>

{%endblock %}