<ul>
{% for http_request_timestamp in verdicts %}
	<li><p>HTTP request at {{ http_request_timestamp }}</p>
		<ul>
			{% for call_timestamp in verdicts[http_request_timestamp] %}
			<li><p>Function call at {{ call_timestamp }}</p>
				<ul>{% for binding in verdicts[http_request_timestamp][call_timestamp] %}
					<li>Binding with ID {{ binding }} generated verdicts
						<ul>
							{% for verdict in verdicts[http_request_timestamp][call_timestamp][binding] %}
								<li>at {{ verdict[2] }}, {{ verdict[1] }}</li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ul>
	</li>
{% endfor %}
</ul>